<footer>
    <div class="bottom-warp">
        <div class="bottom-map-wrap">
            <div class="container">
                <ul class="bottom-map row">
                    <li class="map-left col-md-8 col-xs-12 col-sm-12">
                        <ul class="list-warp col-md-2 col-xs-12">
                            <li class="list-titl">
                                <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">PRODUCT</a>
                            </li>
                            <ul>
                                <li class="sub-title">
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Biometric</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Fingerprint</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Facial</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Iris</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Surveillance</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Camera</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">NVR</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Accessories</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">RFID</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Device</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Controller</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Accessories</a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="list-warp col-md-2 col-xs-12">
                            <li class="list-titl">
                                <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">SOLUTION</a>
                            </li>
                            <ul>
                                <li class="sub-title">
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">CrossChex</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">SecurityONE</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">IntelliSight</a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="list-warp col-md-2 col-xs-12">
                            <li class="list-titl">
                                <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">INDUSTRY</a>
                            </li>
                            <ul id="footerNavSolution">
                                <li class="sub-title">
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Home Security</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Community Security</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Government</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Financial</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Transportation</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Healthcare</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Education</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Critical Infrastructure</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Commercial</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Retail/Retail Chain</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Shopping Mall</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Hospitality & Gaming</a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="list-warp col-md-2 col-xs-12">
                            <li class="list-titl">
                                <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">SUPPORT</a>
                            </li>
                            <ul id="footerNavSupport">
                                <li class="sub-title">
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Technical Support</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Marketing Materials</a>
                                </li>
                                <li>
                                    <a href="">Training</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Download Center</a>
                                </li>
                            </ul>
                            <ul class="list-warp">
                                <li class="list-titl"><a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">PARTNER</a></li>
                            </ul>
                            <ul class="list-warp">
                                <li class="list-titl"><a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">NEWS</a></li>
                            </ul>
                        </ul>
                        <ul class="list-warp col-md-2 col-xs-12">
                            <li class="list-titl">
                                <a href="/about" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">ABOUT</a>
                            </li>
                            <ul id="footerNavAbout">
                                <li class="sub-title">
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">About Anviz</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Community Support</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Careers</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Innovation</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Partner</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Core Technology</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Quality Control</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Contact us</a>
                                </li>
                                <li>
                                    <a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Where to Buy</a>
                                </li>
                            </ul>
                        </ul>
                    </li>
                    <li class="map-right col-md-4 col-xs-12 col-sm-12">
								<span id="input">
									<div class="input">
										<input name="subscribe_email" type="text" class="default" placeholder="Enter email for news &amp; promotions" title="Enter email for news &amp; promotions" value="">
										<button type="button" class="footer-search-btn" id="subscribe_btn"><i class="footer-icon icon-more_line"></i></button>
										<!--loading-->
										<!--<button type="button" class="footer-search-btn" id="subscribe_btn"><i class="footer-icon icon-loading animated-cycle"></i></button>-->
									</div>
								</span>
                        <div class="snsfollowwrap">
                            <a class="twitter" href="https://twitter.com/anvizglobal" data-show-count="false" target="_blank">
                                <i class="icon-twitter_line"></i>
                            </a>
                            <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            <a class="Facebook" href="https://www.facebook.com/AnvizGlobalinc" target="_blank">
                                <i class="icon-facebook_line"></i>
                            </a>
                            <a class="YouTube" href="https://www.youtube.com/user/AnvizGlobalinc" target="_blank">
                                <i class="icon-youtobe_line"></i>
                            </a>
                            <a class="Google" href="https://plus.google.com/+AnvizGlobal" target="_blank">
                                <i class="icon-google_plus"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom-box">
            <div class="container">
                <ul class="bottom-box-content row">
                    <li class="col-md-6 col-xs-12 col-sm-12">
                        <ul class="bottom-news-box bottom-nav">
                            <li class="copyright">© 2017 Anviz Global.</li>
                            <li class="bottom-list"><a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Intelligent · Security</a></li>
                            <li class="bottom-line">|</li>
                            <li class="bottom-list"><a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Contact Us</a></li>
                            <li class="bottom-line">|</li>
                            <li class="bottom-list"><a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Legal</a></li>
                            <li class="bottom-line">|</li>
                            <li class="bottom-list"><a href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Site Map</a></li>
                        </ul>
                    </li>
                    <li class="col-md-4 col-xs-12 col-sm-12">
                        <ul class="bottom-space"></ul>
                    </li>
                    <li class="bottom-right-box col-md-2 col-xs-12 col-sm-12">
                        <ul class="gn-Language">
                            <li class="translate-this"><a href="http://translateth.is/" class="translate-this-button"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
