<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9, IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta property="og:type" content="website">
    <title>anviz</title>
    <link href="/ico/anviz.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/Swiper/4.2.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/new-anviz-fonts.css">
    <link rel="stylesheet" href="/css/anviz.css">
</head>
<body>
    <h1>入口文件</h1>
    {{> _navbar}}
    {{{body}}}
    {{_footer}}
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>