@charset "UTF-8";
.container-fluid,
.contaienr {
  padding: 0;
}
img {
  margin-bottom: 10px;
  max-width: 100%;
}
@media (max-width: 850px) {
  .img-responsive {
    margin: 0 auto;
  }
}
ul,
li {
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 768px) {
  ul,
  li {
    padding: 0;
  }
}
a:link,
a:visited,
.OpenDiv .content0 h4,
.OpenDiv .content1 h4,
.OpenDiv .fuction li a,
.OpenDiv .OpenListBox a,
.OpenDiv .IncludeBox a,
.OpenDiv .content2 table th,
.ProductBlock ul li h5,
.FAQlist ul li a b,
.question ul li b,
.ListMenu li.act a {
  color: #555555;
}
a:hover {
  color: #0099cc;
}
form {
  position: relative;
}
.form-control {
  height: 40px;
}
.button,
.submit,
button,
input[type="submit"],
input[type="button"] {
  font-family: "Segoe UI", "Segoe WP", "SegoeUI", "Tahoma", "Verdana", "Arial", "sans-serif";
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #00a0e8;
  color: #ffffff;
  outline: none !important;
}
.button.buy,
.submit.buy,
button.buy,
input[type="submit"].buy,
input[type="button"].buy {
  background: #ff6600;
}
.button.buy:hover,
.submit.buy:hover,
button.buy:hover,
input[type="submit"].buy:hover,
input[type="button"].buy:hover {
  background: #ec6409;
}
input[type="text"] {
  height: 40px;
  padding: 0 15px;
}
label {
  font-size: 16px;
}
.inline-input-wrapper label {
  font-weight: normal;
  font-size: 14px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
.input-wrapper {
  margin: 20px 0;
}
.input-wrapper label {
  display: block;
}
.input-wrapper label.checkbox {
  position: relative;
}
.input-wrapper label.checkbox input {
  position: absolute;
  top: 5px;
  left: 0;
}
.input-wrapper label.checkbox .checkbox-item {
  padding-left: 20px;
}
.input-wrapper input[name="code"] {
  width: 30%;
  display: inline-block;
}
input,
textarea {
  border-radius: 0;
  outline: 0 none !important;
}
label ~ input,
label ~ textarea {
  margin-top: 3.3333333333333px;
  outline: 0 none !important;
}
input:focus,
textarea:focus,
a:focus {
  outline: none !important;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 200;
}
.btn-fb {
  background-color: #3b5998;
  color: #ffffff;
}
.btn-tw {
  background-color: #55acee;
  color: #ffffff;
}
.btn-yt {
  background-color: #ea361f;
  color: #ffffff;
}
.btn-gp {
  background-color: #dd4b39;
  color: #ffffff;
}
.icon-size-big {
  font-size: 24px;
}
.icon-size-mid {
  font-size: 18px;
}
.icon-size-small {
  font-size: 16px;
}
.icon-color-success {
  color: #5cb85c;
}
.icon-color-info {
  color: #5bc0de;
}
.icon-color-warning {
  color: #f0ad4e;
}
.icon-color-danger {
  color: #d9534f;
}
.default-h1 {
  font-size: 36px !important;
  font-weight: 400 !important;
}
.default-h2 {
  font-size: 24px !important;
  font-weight: 200 !important;
}
.default-h3 {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #555555 !important;
}
.default-h4 {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #555555 !important;
  margin-left: 15px;
}
.default-h5 {
  font-size: 18px !important;
  line-height: 120%;
  font-weight: 400 !important;
  white-space: pre-wrap;
}
.default-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.default-p {
  font-size: 16px !important;
  font-weight: 200 !important;
  color: #777777 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.default-noellipsis {
  font-size: 16px !important;
  font-weight: 200 !important;
  color: #777777 !important;
}
.center-box-shadow {
  background: #eeeeee;
  box-shadow: 0px 5px 4px #dddddd;
  transition: all 0.5s ease-in;
}
.security-shadow {
  background: rgba(243, 169, 58, 0.2);
  box-shadow: 0px 5px 4px #eee;
  transition: all 0.5s ease-in;
  color: #ffffff;
}
.icon-search_line {
  color: #ffffff;
}
.icon-search_line:hover {
  color: #eeeeee;
}
.icon-white {
  color: #ffffff;
  transition: all .1s ease;
}
.icon-black {
  color: #555555;
  transition: all .1s ease;
}
.icon-black:hover {
  color: #aaaaaa;
}
.subcategory-search-warp .subcategory-search {
  display: flex;
  position: relative;
}
.subcategory-search-warp .subcategory-search .icon-search_line {
  position: absolute;
  right: 0;
  padding: 10px 14px;
  cursor: pointer;
  color: #555555;
  font-size: 18px;
  display: inline-block;
}
.feature-nav-scroll {
  overflow: hidden;
  width: 100%;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .feature-nav-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .feature-nav-scroll::-webkit-scrollbar {
    display: none;
  }
}
.security-one-nav-scroll {
  overflow: scroll;
  width: 100%;
  height: 50px;
}
.security-one-nav-scroll::-webkit-scrollbar {
  display: none;
}
.message-warp {
  padding: 10px;
  min-width: 320px;
  line-height: 1.5;
  margin: 1em 0;
}
.message-box {
  position: fixed;
  top: 10px;
  left: 0;
  padding: 0;
  display: block;
  margin: 0 auto;
}
.icon-success {
  padding-right: 10px;
  color: #b7eb8f;
  font-weight: bold;
}
.icon-error {
  padding-right: 10px;
  color: #ffa39e;
  font-weight: bold;
}
.icon-warning {
  padding-right: 10px;
  color: #ffe58f;
  font-weight: bold;
}
.icon-information {
  padding-right: 10px;
  color: #00a0e8;
  font-weight: bold;
}
.sucess {
  padding: 10px;
  min-width: 320px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 200;
  margin: 1em 0;
  word-wrap: break-word;
  border: 1px solid #b7eb8f;
  background-color: #f6ffed;
}
.error {
  padding: 10px;
  min-width: 320px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 200;
  margin: 1em 0;
  word-wrap: break-word;
  border: 1px solid #ffa39e;
  background-color: #fff1f0;
}
.warning {
  padding: 10px;
  min-width: 320px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 200;
  margin: 1em 0;
  word-wrap: break-word;
  border: 1px solid #ffe58f;
  background-color: #fffbe6;
}
.informational {
  padding: 10px;
  min-width: 320px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 200;
  margin: 1em 0;
  word-wrap: break-word;
  border: 1px solid #00a0e8;
  background-color: #d0e4f1;
}
.default-success,
.default-error,
.default-warning,
.default-information {
  padding: 10px;
  min-width: 320px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 200;
  margin: 1em 0;
  word-wrap: break-word;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: #dddddd;
}
.sucess-right {
  position: relative;
  top: 57px;
  right: 0;
  width: 20%;
  height: auto;
}
.btn-anviz {
  margin: 10px 0;
  padding: 4px 14px;
  line-height: 200%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 0;
  display: inline-block;
  text-decoration: none;
}
.btn-anviz-primary {
  background-color: #00a0e8;
  color: #ffffff;
}
.btn-anviz-primary:hover {
  color: #0077B3;
  zoom: 1;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
@media and (max-width: 768px) {
  .btn-anviz-primary {
    display: flex;
  }
}
.btn-anviz-default {
  background-color: #ccc;
  color: #555;
}
.btn-anviz-default:hover {
  color: #ffffff;
  background-color: #00a0e8;
  zoom: 1;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
@media and (max-width: 768px) {
  .btn-anviz-default {
    display: flex;
  }
}
.btn-anviz-horizontally {
  display: block;
  margin: 4em auto 2em;
}
.btn-point {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.btn-point:before,
.btn-point:after {
  width: 100%;
  height: 100%;
  transition: all .3s ease;
  margin-left: -10px;
}
.btn-point:after {
  border-radius: 50%;
  background: #09f;
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-family: arial;
  line-height: 1;
  text-align: center;
  position: absolute;
  content: "+";
  transition: transform .3s linear;
}
.btn-point:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: transparent;
  -webkit-animation: cd-pulse 2s infinite;
  -moz-animation: cd-pulse 2s infinite;
  animation: cd-pulse 2s infinite;
}
.btn-point:hover:before {
  cursor: pointer;
  opacity: 0;
}
.btn-point:hover:after {
  cursor: pointer;
  width: 26px;
  height: 26px;
  border: 3px solid #555555;
  background: #555555;
  margin: -3px 0 0 -13px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.anviz-btn {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 1em !important;
  height: auto;
  max-width: 200px;
  text-decoration: none;
  text-align: center;
  border-radius: 0;
}
.anviz-btn-input {
  position: absolute !important;
  overflow: hidden;
  right: 0;
  top: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 0;
  opacity: 1;
  font-size: 14px;
  text-decoration: none;
}
.anviz-btn-default {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 1em !important;
  height: auto;
  background-color: #fafafa;
  color: #555555;
  text-decoration: none;
  text-align: center;
  border-radius: 0;
}
.anviz-btn-default:hover {
  color: #056590 !important;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  background: #eeeeee;
}
.anviz-btn-primary {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 1em !important;
  height: auto;
  background-color: #00a0e8;
  color: #ffffff !important;
  text-decoration: none;
  text-align: center;
  border-radius: 0;
}
.anviz-btn-primary:hover {
  color: #056590 !important;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.anviz-btn-warning {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 1em !important;
  height: auto;
  background-color: #f0b310;
  color: #555555 !important;
  text-decoration: none;
  text-align: center;
  border-radius: 0;
}
.anviz-btn-warning:hover {
  color: #056590 !important;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.anviz-btn-center {
  display: block;
  width: 150px;
  margin: auto;
}
.anviz-select-war {
  height: 32px;
  cursor: pointer;
  isplay: block;
  margin-left: 11px;
  margin-right: 11px;
  position: relative;
  line-height: 30px;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.anviz-date-input {
  height: 40px;
  padding: 0 8px;
  width: 100%;
}
.anviz-date-input:active,
.anviz-date-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.anviz-textarea {
  width: 100%;
  height: 180px;
  background-color: #ffffff;
  line-height: 22px;
  padding: 4px 8px;
}
.anviz-input-clear {
  background: #ffffff url(http://bijudesigner.com/blog/wp-content/uploads/2015/06/download.gif) no-repeat right -10px center;
  padding: 3px 18px 3px 4px;
}
.anviz-input-clear .x {
  background-position: right 5px center;
}
.anviz-input-clear .onX {
  cursor: pointer;
}
.anviz-select {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
.anviz-select .optgroup[label] {
  color: #999;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100% !important;
  margin: 0 0 10px 0;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 40px;
  user-select: none;
  -webkit-user-select: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.select2-container .select2-selection--single:active,
.select2-container .select2-selection--single:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 40px;
  text-align: left;
  padding-left: 13px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: 4px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #e2e2e2;
  text-align: left;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0099cc;
  color: white;
}
@media screen and (max-width: 768px) {
  .form-verify {
    margin-right: 0 !important;
  }
  .form-verify .support-online-login-bg {
    padding: 2em 0 2em 30px;
    text-align: center;
  }
}
.form-verify .form-group {
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .form-verify .form-group {
    padding-bottom: 15px;
  }
}
.form-verify .form-group .help-block {
  position: absolute;
  font-weight: ;
}
@media screen and (max-width: 768px) {
  .form-verify a {
    display: inherit;
    margin-bottom: 2em;
    color: #0099cc;
    text-decoration: underline;
  }
}
.has-error .label-name {
  color: #a94442;
}
.has-error .select2-container {
  margin: 0;
}
.has-error .select2-container .select2-selection--single {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.loading-parent {
  position: relative;
}
.loading-parent .GnloadingW {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  z-index: 800;
  text-indent: -9999px;
  background: url(../../img/common/ProgressIndicator_White.gif) center 40% no-repeat #ffffff;
}
.loading-parent form {
  width: 100%;
  margin: 0;
}
table thead tr {
  background: #f0f3f5;
}
table thead tr th {
  font-weight: 200;
  border-bottom: 0 !important;
}
table tbody tr td {
  border-top: 1px solid #eee !important;
  color: #555555;
}
table tbody tr td a {
  color: #555555 !important;
}
table tbody tr:last-child {
  border-bottom: 1px solid #eee !important;
}
.col-sm-4 {
  width: 34.333333%;
}
