<div class="product-bg container-bg">
    <div class="banner-top-warp banner-top-bg">
        <h2 class="banner-title">Product</h2>
        <p class="banner-des">You are the one we are looking for, join us and create your success.</p>
    </div>
    <!--div.container>div.product-list-warp>ul.row>(li.col-md-4.col-xs-12.col-sm-12>(a.product-biometric>img+h2>i)+h3+ul>(li>a)*3)*6-->
    <div class="container">
        <div class="product-list-warp">
            <ul class="row">
                <li class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <a href=""
                       class="product-biometric" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <img class="img-responsive"
                             src="/images/product/banner/product-banner-biometric.jpg" alt=""/>
                        <h2>
                            <i class="icon-biometric_larger"></i>
                            Biometric
                        </h2>
                    </a>
                    <h3>We know biometric, and we know you.</h3>
                    <ul>
                        <li class="product-features"><a  class="features-item"
                                    href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">Fingerprint</a></li>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Facial</a></li>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Iris</a></li>
                    </ul>
                </li>
                <li class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <a href=""
                       class="product-surveillance" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <img src="/images/product/banner/product-banner-surveillance.jpg"
                             alt=""/>
                        <h2>
                            <i class="icon-surveillance_larger"></i>
                            Surveillance
                        </h2>
                    </a>
                    <h3>See the world clear, do the action right.</h3>
                    <ul>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Camera</a></li>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">NVR</a></li>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Accessories</a></li>
                    </ul>
                </li>
                <li class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="product-RFID"
                       data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <img src="/images/product/banner/product-banner-rfid.jpg" alt=""/>
                        <h2>
                            <i class="icon-rfid_larger"></i>
                            RFID
                        </h2>
                    </a>
                    <h3>Connect Everything. Sense World.</h3>
                    <ul>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Device</a></li>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Controller</a></li>
                    </ul>
                </li>
                <li class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="product-crossChex" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <img src="/images/product/banner/product-banner-crossChex_UI.png"
                             alt=""/>
                        <h2>
                            <i class="icon-crosschex"></i>
                            CrossChex
                        </h2>
                    </a>
                    <h3>Time Attendance and Access Control Management System</h3>
                    <ul>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Desktop</a></li>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Cloud</a></li>
                    </ul>
                </li>
                <li class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <a href="javascript:void(0)" data-ajax="true"
                       data-ajax-target="#containerBody" class="product-securityONE" data-ajax-progressing="top">
                        <img src="/images/product/banner/product-banner-securityONE_UI.png"
                             alt=""/>
                        <h2>
                            <i class="icon-sercurityone_line"></i>
                            SecurityONE
                        </h2>
                    </a>
                    <h3>Intelligent Access Control and Surveillance Security System</h3>
                    <ul>
                        <li class="product-features"><a class="features-item" href="javascript:void(0)" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Why SecurityONE</a></li>
                        <li class="product-features"><a class="features-item" href="javascript:void(0)" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Feature</a></li>
                        <li class="product-features"><a class="features-item"  href="javascript:void(0)" data-ajax="true"
                                                         data-ajax-target="#containerBody" data-ajax-progressing="top">Configuration</a></li>
                    </ul>
                </li>
                <li class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <a href="" data-ajax="true"
                       data-ajax-target="#containerBody" class="product-intelliSight" data-ajax-progressing="top">
                        <img src="/images/product/banner/product-banner-intelliSight_UI.png"
                             alt=""/>
                        <h2>
                            <i class="icon-intellisight_line"></i>
                            IntelliSight
                        </h2>
                    </a>
                    <h3>Surveillance Devices Intelligent Management System</h3>
                    <ul>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Function</a></li>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Configuration</a></li>
                        <li class="product-features"><a class="features-item" href="" data-ajax="true"
                                                        data-ajax-target="#containerBody" data-ajax-progressing="top">Download</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>