<div class="support-bg container-bg">
    <div class="banner-top-warp banner-top-bg">
        <h2 class="banner-title">Support</h2>
        <p class="banner-des">Let’s deliver full hearted global service together.</p>
    </div>
    <div class="support-fluid-content-bg">
        <div class="container support-container">
            <h2 class="support-questions-title">Find answers to your questions</h2>
            <ul class="support-list row">
                <li class="support-item col-md-4 col-xs-12 col-sm-6">
                    <a href="" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <h2 class="support-faq-title">FAQ</h2>
                        <span class="icon-faq_larger_line"></span>
                        <p class="support-faq-des">Anviz supports you anytime anywhere.</p>
                    </a>
                </li>
                <li class="support-item col-md-4 col-xs-12 col-sm-6">
                    <a href="" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <h2 class="support-faq-title">Online Service</h2>
                        <span class="icon-online_service_larger"></span>
                        <p class="support-faq-des">Anviz will always be with you.</p>
                    </a>
                </li>
                <li class="support-item col-md-4 col-xs-12 col-sm-6">
                    <a href="" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <h2 class="support-faq-title">Warranty & RMA</h2>
                        <span class="icon-case_study_larger"></span>
                        <p class="support-faq-des">Warranty Policy Terms and conditions</p>
                    </a>
                </li>
            </ul>
            <h2 class="support-tutorials-title">Marketing and Tutorials</h2>
            <ul class="support-list row">
            		<li class="support-item col-md-4 col-xs-12 col-sm-12">
					<a href="" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
						<h2 class="support-faq-title">Marketing Activity</h2>
						<span class="icon-moudles_larger"></span>
						<p class="support-faq-des">All for marketing, but beyond marketing.</p>
					</a>
					<ul class="support-info-list">
						<li class="support-info-list-item">
							<a href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">exhibitions</a>
						</li>
					</ul>
				</li>
                <li class="support-item col-md-4 col-xs-12 col-sm-12">
                    <a href="" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <h2 class="support-faq-title">Marketing Support</h2>
                        <span class="icon-sdk_larger"></span>
                        <p class="support-faq-des">All for marketing, but beyond marketing.</p>
                    </a>
                    <ul class="support-info-list">
                        <li class="support-info-list-item"><a
                                    href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">Brochures&Catalog</a></li>
                        <li class="support-info-list-item"><a
                                    href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">Picture</a></li>
                        <li class="support-info-list-item"><a
                                    href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">Video</a></li>
                        <li class="support-info-list-item"><a href=""
                                                              data-ajax="true" data-ajax-target="#containerBody">Demo
                                Kit</a></li>
                    </ul>
                </li>

                <li class="support-item col-md-4 col-xs-12 col-sm-12">
                    <a href="" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <h2 class="support-faq-title">Download Center</h2>
                        <span class="icon-download_larger"></span>
                        <p class="support-faq-des">Let’s deliver full hearted global service together.</p>
                    </a>
                    <ul class="support-info-list">
                        <li class="support-info-list-item"><a
                                    href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">Software</a></li>
                        <li class="support-info-list-item"><a
                                    href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">Catalogue</a></li>
                        <li class="support-info-list-item"><a
                                    href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">Video</a></li>
                        <li class="support-info-list-item"><a
                                    href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">Case Study</a></li>
                        <li class="support-info-list-item"><a
                                    href="" data-ajax="true"
                                    data-ajax-target="#containerBody" data-ajax-progressing="top">Manual</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>