<div class="wrapper">
    <header class="main-header">
        {{> header}}
    </header>
    <aside class="main-sidebar">
        {{> sidebar}}
    </aside>
    <div class="content-wrapper">
        {{> content}}
    </div>
</div>


