<div class="banner-top-partners-warp banner-top-bg">
    <h2 class="banner-title">Partners</h2>
    <p class="banner-des">You are the one we are looking for, join us and create your success.</p>
    <ul class="banner-top-nav">
        <li><a href=""
               class="banner-btn banner-btn-active"
               data-ajax="true" data-ajax-target="#partnerContent">AGPP Program</a>
        </li>
        <li><a href=""
               class="banner-btn"
               data-ajax="true"
               data-ajax-target="#partnerContent">Advantage</a>
        </li>
        <li><a href=""
               class="banner-btn"
               data-ajax="true"
               data-ajax-target="#partnerContent">Become a partner</a>
        </li>
    </ul>
</div>
<div class="container-bg partner-become-bg">
    <div class="container partner-agpp-warp" id="partnerContent">
        <ul class="partner-top-content fadeInRightBig row">
            <li class="partner-top-content-item col-md-8 col-xs-12 col-sm-6">
                <h2>What is AGPP?</h2>
                <p>AGPP is Anviz Global Partner Program. It is designed for industry-leading distributors, resellers, software developers and system integrators highly qualified in providing intelligent security solutions of Biometric, RFID and HD IP surveillance in targeted vertical markets. The program helps partners build a sustainable business model in a fast-changing environment, where customers require value-added services, focused technical expertise and high levels of satisfaction.</p>
            </li>
            <li class="partner-top-content-item-img col-md-4 col-xs-12 col-sm-6">
                <img class="img-responsive" src="/images/partners/agpp-banner/patrner-AGPP.jpg"/>
            </li>
        </ul>
        <ul class="partner-content agpp-program-content row">
            <li class="partner-content-item col-md-6 col-xs-12 col-sm-6">
                <h3>AAD</h3>
                <b>Anviz Authorized Distributor</b>
                <p>As an Anviz Authorized Distributor (AAD), the AGPP program opens new doors and opportunities. Distributors are at the core of our AGPP program. We work closely with our AAD partners around the globe to distribute and position Anviz products globally.</p>
                <img class="img-responsive" src="/images/partners/agpp-banner/partrner-AAD.jpg" alt="" />
                <p>Anviz is with you every step of the way. When you join the AGPP program, you are not only entitled to industry leading profit margins, but through a targeted selection of benefits that engineered to specifically assist distributors in growing their brand, customer base, and ultimately their business.</p>
                <p>The AGPP program offers AADs a five-tier structure to help their company grow and develop as it progresses through each tier of the program. Different tier levels have requirements based on the geographic locations served. Requirements are revenue and MOQ based, and each tier offers larger rewards for achieving these targets. The five tiers are: Diamond, Platinum, Gold, Silver and Bronze.</p>
            </li>
            <li class="partner-content-item col-md-6 col-xs-12 col-sm-6">
                <h3>AAR</h3>
                <b>Anviz Authorized Reseller</b>
                <p>As an Anviz Authorized Reseller (AAR), the AGPP program opens new doors and opportunities. Resellers are at the core of our AGPP program. We work closely with our AAR partners around the globe who sell to end users and position Anviz products globally.</p>
                <img class="img-responsive" src="/images/partners/agpp-banner/partrner-AAR.jpg" alt="" />
                <p>The AGPP program offers a three-tier structure to help your company grow and develop as it progresses through each tier of the program. Requirements are revenue and MOQ based, and each tier offers larger rewards for achieving these targets. The three tiers are: Professional, Executive and Chairman.</p>
                <p>As an Anviz Authorized Reseller, our AARs are a part of a dedicated program that is focused on their needs as a reseller. AARs have an excellent support system from both Anviz Global and their local AAD partners. When partnering with Anviz you are partnering with a global company, offering you high quality products with excellent after sales support. We make it easy for you to sell.</p>
            </li>
            <li class="partner-content-item col-md-6 col-xs-12 col-sm-6">
                <h3>AASP</h3>
                <b>Anviz Authorized Solution Provider</b>
                <p>As an Anviz Authorized Solution Provider (AASP), the AGPP program works closely with you to insure your requirements for projects and specification are met. As a solutions provider Anviz makes your work simple. Our products and solutions offer the versatility and scaleability to meet your most demanding clients’ needs.</p>
                <img class="img-responsive" src="/images/partners/agpp-banner/partrner-AASP.jpg" alt="" />
                <p>The AGPP program offers a three-tier structure to help your company grow and develop as it progresses through each tier of the program. Requirements are revenue and MOQ based, and each tier offers larger rewards for achieving these targets. The three tiers are: Professional, Executive and Chairman.</p>
                <p>As an Anviz Authorized Solutions Provider, we work with you to make sure the Anviz products have a wide range of uses within your market. We can offer modules that can be integrated into larger infrastructure devices, yet still providing a seamless integration and functionality. From a software side, we can provide our AASP members the SDK for integration or customization. In addition, all Anviz products are produced in house, including the software, and if customization or modifications are needed for significant projects or meeting local regulations, we can provide it.</p>
            </li>
            <li class="partner-content-item col-md-6 col-xs-12 col-sm-6">
                <h3>AASI</h3>
                <b>Anviz Authorized System Integrator</b>
                <p>As an Anviz Authorized System Integrator (AASI), the AGPP program opens new doors and opportunities. Integrators are at the core of our AGPP program. We work closely with our AASI partners around the globe to Anviz promote and position our products globally in high profile projects.</p>
                <img class="img-responsive" src="/images/partners/agpp-banner/partrner-AASI.jpg" alt="" />
                <p>The AGPP program offers a three-tier structure to help your company grow and develop as it progresses through each tier of the program. Requirements are revenue and MOQ based, and each tier offers larger rewards for achieving these targets. The three tiers are: Professional, Executive and Chairman.</p>
                <p>As an Anviz Authorized System Integrator, we have customize a sales channel program specifically around our talented integrators. Our AASI program focuses on giving our integrators a level of product training, technical support, and rewards that are unmatched in the industry. We help AASIs build their brand and reputation while assisting them with winning projects and tenders using high quality Anviz products. AASI partners enjoy the benefits of partnering with a global leader in the intelligent security industry.</p>
            </li>
            <li class="partner-content-item col-md-6 col-xs-12 col-sm-6">
                <h3>AASC</h3>
                <b>Anviz Authorized Service Center</b>
                <p>As an Anviz Authorized Service Center (AASC), the AGPP program works closely with service centers around the globe to provide training and technical support for their staff, and create a lucrative business model for the company. As a service center, you benefit from the large demand of Anviz sales in your region. Our service centers offer warrantee support, maintenance, returns, training, and technical support to the millions of satisfied Anviz customers.</p>
                <img class="img-responsive" src="/images/partners/agpp-banner/partrner-AASC.jpg" alt="" />
                <p>When your service center becomes certified as an AASC, you immediately gain access to the large Anviz customer base. Our service center solution gives you industry leading profit margins and the benefits specifically tailored to meet the demands, and help the development of our global service center network.</p>
            </li>
        </ul>
    </div>
</div>