

<div class="where-buy-bg container-bg">
      <div class="banner-top-where-buy-warp banner-top-bg">
            <h2 class="banner-title">About Anviz</h2>
            <p class="banner-des">The people you love most, we care.</p>
            <ul class="banner-top-nav">
                  <li>
                        <a href=""
                        class="banner-btn banner-btn-active"
                        data-ajax="true" data-ajax-target="#companyContainer">About Anviz</a>
                  </li>
                  <li>
                        <a href=""
                        class="banner-btn" data-ajax="true" data-ajax-target="#companyContainer">Technology</a>
                  </li>
                  <li>
                        <a href="" class="banner-btn" data-ajax="true" data-ajax-target="#companyContainer">Contact Us</a>
                  </li>
                  <li>
                        <a href="" class="banner-btn <?php if ($this->controllerName == 'wheretobuy'): ?>banner-btn-active<?php endif; ?>"
                        data-ajax="true" data-ajax-target="#companyContainer">Where to buy</a>
                  </li>
            </ul>
      </div>
      
    <div id="companyContainer">
        <div class="subcategory-bg">
              
        </div>
        <div class="container where-warp" id="listEntries">
              <div class="where-partner-warp">
                  <div class="container">
                        <h2>Where to buy Anviz Products?</h2>
                        <p>ORDERING THROUGH OUR PARTNER</p>
                  </div>
                  <div class="where-partner-select">
                        <div class="container" style="padding-left: 0;padding-right: 0;">
                              <p>You can select countries to view global partners online, or you can choose to <a href="">contact us</a>.</p>
                        </div>
                  </div>
            </div>
        </div>
    </div>
</div>