<!--progress-->
<div class="progress-bar hide" style="width: 0px;"></div>
<!--nav-->
<div class="header">
    <div class="nav TopTools" style="max-width: 1200px;margin: 0 auto;">
        <ul class="gn-header">
            <li>
                <div class="menubtnwrapper">
					<span class="menubtn menubtn_linewrap_top">
						<span class="menubtn_line menubtn_line-top"></span>
					</span>
                    <span class="menubtn menubtn_linewrap_bottom">
						<span class="menubtn_line menubtn_line-bottom"></span>
					</span>
                </div>
            </li>
            <li class="flex-space"></li>
            <li class="home">
                <a class="logo hidef" href="" data-ajax="true"
                   data-ajax-target="#containerBody" data-ajax-progressing="top">
                    <i class="icon-anviz_logo_R"></i>
                </a>
            </li>
            <li class="flex-space"></li>
            <li class="top-account-wrap login">
                <a class="top-account hidef Login" href="/admin/login" data-ajax="true"
                   data-ajax-target="#containerBody" data-ajax-progressing="top">
                   <i class="icon-user_line"></i><span class="link-text">Account</span>
                </a>
                <a class="top-new-msg" href=""><span></span></a>
            </li>
        </ul>
        <ul class="gn-list">
            <li class="home-menu">
                <a class="logo hidef" href="" data-ajax="true"
                   data-ajax-target="#containerBody" data-ajax-progressing="top">
                    <i class="icon-anviz_logo_R"></i>
                </a>
            </li>
            <li class="home-menu">
                <a class="iconf-nav-product" href="/product" data-ajax="true"
                   data-ajax-target="#containerBody" data-ajax-progressing="top"><span class="link-text">Product</span></a>
            </li>
            <li class="home-menu">
                <a class="iconf-nav-market" href="/solution" data-ajax="true"
                   data-ajax-target="#containerBody" data-ajax-progressing="top"><span class="link-text">Solution</span></a>
            </li>
            <li class="home-menu">
                <a class="iconf-nav-support" href="/support" data-ajax="true"
                   data-ajax-target="#containerBody" data-ajax-progressing="top"><span class="link-text">Support</span></a>
            </li>
            <li class="home-menu">
                <a class="iconf-nav-partner" href="/partner" data-ajax="true"
                   data-ajax-target="#containerBody" data-ajax-progressing="top"><span class="link-text">partner</span></a>
            </li>
            <li class="home-menu">
                <a class="iconf-nav-partner" href="/wheretobuy" data-ajax="true"
                   data-ajax-target="#containerBody" data-ajax-progressing="top"><span class="link-text">Where&nbsp;to&nbsp;buy</span></a>
            </li>
            <li class="flex-space"></li>
            <li class="top-search-wrap">
                <form class="top-search hidef search-hide" id="topSearchForm" action="" method="get">
                    <label class="search-hide">
                        <input class="search-input search-hide" value="" placeholder="Search..." name="keyword">
                        <button type="button" class="btn-search-one iconf-nav-search search-hide" style="display: none;">
                            <i class="icon-search_line icon-black"></i>
                            <span class="link-text">Search</span>
                        </button>
                        <button type="submit" class="btn-search-two iconf-nav-search search-hide isshow" style="display: block;">
                            <i class="icon-search_line"></i>
                            <span class="link-text">Search</span>
                        </button>
                        <div class="hot-search">
                            <a href=""><span>C2 Pro</span></a>
                            <a href=""><span>CrossChex</span></a>
                        </div>
                    </label>
                </form>
            </li>
            {{#each users}}

            {{else}}
                <li class="top-account-wrap login">
                <a class="top-new-msg" href=""><span></span></a>
                <a class="top-account hidef Login" href="/admin/login" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top"><i class="icon-user_line"></i><span
                                class="link-text">Account</span>
                </a>
                </li>
            {{/each}}
            
        </ul>
    </div>
</div>

