<div class="AIMDescriptionBox product-bg">
    <div class="banner-top-bg cross-chex-bg">
        <div class="container">
            <div class="cross-chex-banner row">
                <div class="col-md-6 col-xs-12 col-sm-6 banner-home-top-warp">
                    <div class="banner-home-title">CrossChex</div>
                    <div class="banner-home-des">Time Attendance and Access Control Management System</div>
                    <div class="banner-home-sub-des">CrossChex is an intelligent management system of access control and
                        time attendance devices, which is applicable to all Anviz access controls and time attendances.
                        The user-friendly and interactive design makes this system very easy to operate, the powerful
                        function makes this system realize the management of department, staff, shift, payroll, access
                        authority, and exports different time attendance and access control reports, satisfying
                        different time attendance and access control requirements in different complicated environments.
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <img class="img-responsive"
                         src="/images/product/cross-chex/banner-cross-chex-top.png"/>
                </div>
            </div>
        </div>
    </div>
    <div class="cross-chex-warp">
        <div class="container">
            <header class="cross-chex-info">
            </header>
            <article class="cross-chex-features row">
                <section class="col-md-6 col-xs-12 col-sm-6">
                    <img class="img-responsive"
                         src="/images/product/cross-chex/banner-cross-chex.png"/>
                </section>
                <section class="col-md-6 col-xs-12 col-sm-6">
                    <h3>Features</h3>
                    <ul class="cross-chex-features">
                        <li>Manages departments and employees</li>
                        <li>Manages devices and access restrictions</li>
                        <li>Manages schedules, shifts and reports</li>
                        <li>Rules out unauthorized overtime</li>
                        <li>Imports/exports data in various file formats, such as CSV, XLS/XLSX, PDF, etc.</li>
                        <li>Exports attendance reports to 3rd party accounting/payroll software</li>
                        <li>Sends reports via email</li>
                        <li>Connect to SQL database or Access database for easy installation and maintenance</li>
                    </ul>
                    <p>*Support all Anviz Biometric/RFID access control and time&attendance devices</p>
                </section>
            </article>
        </div>
        <div class="cross-chex-support">
            <img class="img-responsive"
                 src="/images/product/cross-chex/crosschex-item.png"/>
        </div>
        <div class="cross-chex-tab">
            <div class="container">
                <div id="crossTab" class="anviz-tab">
                    <ul class="tab-header" class="row" role="tablist">
                        <li role="presentation" class="col-md-6 col-md-5 col-xs-12 col-sm-6 tab-header-item standard-href active " data-url="">
                                <img src="/images/product/cross-chex/crosschex-tab-desk.png"/>
                                <ul class="tab-item">
                                    <h3>Standard</h3>
                                    <p>Desktop system</p>
                                        <li class="bottom-item"><span class="icon-smart_ir"></span><a href="#">Download </a></li>
                                        <li class="bottom-item"><span class="icon-smart_ir"></span><a href="">Download></a></li>
                                    <li class="bottom-item"><span class="icon-manual_larger"></span><a href="">Catalogaue</a></li>
                                    <li class="bottom-item"><span class="icon-trouble_ticket_largery_line"></span><a href="">User
                                        manual</a>
                                    </li>
                                </ul>
                        </li>
                        <li role="presentation" class="col-md-6 col-md-5 col-xs-12 col-sm-6 standard-href tab-header-item">
                                <img src="/images/product/cross-chex/crosschex-tab-cloud.png"/>
                                <ul class="tab-item">
                                    <h3>Cloud</h3>
                                    <p>Cloud system</p>
                                    <li class="bottom-item">Release later</li>
                                </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cross-chex-pannel">
    <div id="CrossChexEntries" class="container">
        <ul class="tab-content animated fadeInRight active">
            <li role="tabpanel" id="tabPannelCloud" class="tab-content-item active">
                  <div class="cross-chex-cloud">
                        <h2>Functionalities</h2>
                        <p>Featuring a user-friendly GUI, AIM CrossChex provides feature-rich time and attendance management experience, meeting all needs of employee attendance tracking and access restriction of small and medium-sized businesses that house employees in a centralized workplace.</p>
                        <ul class="cross-chex-cloud-warp row">
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/cross-chex/crosschex-desk-01.jpg"/>
                                    <p class="img-title">Main Page</p>
                              </li>
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/cross-chex/crosschex-desk-02.jpg"/>
                                    <p class="img-title">Software Guide</p>
                              </li>
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/cross-chex/crosschex-desk-02.jpg"/>
                                    <p class="img-title">Device Management</p>
                              </li>
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product//cross-chex/crosschex-desk-04.jpg"/>
                                    <p class="img-title">Scheduling Management</p>
                              </li>
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product//cross-chex/crosschex-desk-05.jpg"/>
                                    <p class="img-title">Attendance Staistics</p>
                              </li>
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product//cross-chex/crosschex-desk-06.jpg"/>
                                    <p class="img-title">Oline FAQ</p>
                              </li>
                        </ul>
                  </div>
            </li>
            <li class="tab-configuration">
                  <img class="img-responsive" src="/images/product//cross-chex/crosschex-desk-07.png"/>
            </li>
            </ul>
            <ul class="tab-content animated fadeInRight">
            <li role="tabpanel" id="tabPannelCloud" class="tab-content-item active">
                  <div class="cross-chex-cloud">
                        <h2>Functionalities</h2>
                        <p>For organizations with multiple locations/facilities, Cloudclocking enables on-line employee scheduling and time tracking. It enhances the convenience and flexibility of employers to manage the timekeeping, scheduling, and attendance reporting tasks.</p>
                        <ul class="cross-chex-cloud-warp row">
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/cross-chex/crosschex-cluod-01.jpg"/>
                                    <p class="img-title">Easy shift and scheduling</p>
                              </li>
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/cross-chex/crosschex-cluod-02.jpg"/>
                                    <p class="img-title">Easy employee management</p>
                              </li>
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/cross-chex/crosschex-cluod-03.jpg"/>
                                    <p class="img-title">Easy record management</p>
                              </li>
                              <li class="cross-chex-cloud-item col-md-6 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/cross-chex/crosschex-cluod-04.jpg"/>
                                    <p class="img-title">Easy export reports</p>
                              </li>
                        </ul>
                  </div>
            </li>
            <li class="tab-configuration">
                  <img class="img-responsive" src="/images/product/cross-chex/crosschex-cluod-07.jpg"/>
            </li>
            </ul>
    </div>
</div>