<div class="solution-bg container-bg">
    <div class="banner-top-warp banner-top-bg solution-bg">
        <h2 class="banner-title">Solution</h2>
        <p class="banner-des">Security for a smarter, safer world.</p>
    </div>
    <div class="solution-fluid-content-bg">
        <div class="container">
            <ul class="solution-security-list row">
                <li class="security-list col-md-4 col-xs-12 col-sm-6">
                    <a href="" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <img class="img-responsive" src="/images/solution/solution-1.jpg" alt=""/>
                        <span>Residential Security</span>
                    </a>
                    <ul class="solution-info-list">
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Home Security</a></li>
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Community Security</a></li>
                    </ul>
                </li>
                <li class="security-list col-md-4 col-xs-12 col-sm-6">
                    <a href="" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <img class="img-responsive" src="/images/solution/solution-2.jpg" alt=""/>
                        <span>Public Security</span>
                    </a>
                    <ul class="solution-info-list">
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Government</a></li>
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Financial</a></li>
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Transportation</a></li>
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Healthcare</a></li>
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Education</a></li>
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Critical Infrastructure</a></li>
                    </ul>
                </li>
                <li class="security-list col-md-4 col-xs-12 col-sm-6">
                    <a href="" data-ajax="true"
                       data-ajax-target="#containerBody" data-ajax-progressing="top">
                        <img class="img-responsive" src="/images/solution/solution-3.jpg" alt=""/>
                        <span>Business Security</span>
                    </a>
                    <ul class="solution-info-list">
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Commercial</a></li>
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Retail/Retail Chain</a></li>
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Shopping Mail</a></li>
                        <li class="solution-info-item"><a
                                    href=""
                                    data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Hospitality &amp; Gaming</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>