<div class="AIMDescriptionBox product-bg">
	<div class="banner-top-bg intelli-sight-bg">
		<div class="container">
			<div class="intelli-sight-banner row">
				<div class="col-md-12 col-xs-12 col-sm-12 banner-home-top-warp">
					<span class="icon-intellisight banner-home-icon"></span>
					<div class="banner-home-title">IntelliSight</div>
					<div class="banner-home-des">Intelligent Video Surveillance System Solution</div>
					<div class="banner-home-sub-des">IntelliSight is an application software matched with embedded network surveillance devices launched by ANVIZ. It can be used with DVR, NVR, IPC, DVS, network storage etc. Thanks to IntelliSight, you can easily view live video and dynamic information anywhere in the world over the network, to realize the control and management to the entire security surveillance system.</div>
					<div class="banner-home-sub-des">Research and development of IntelliSight emphasizes the simplicity of use and intuition to operate, to ensure everyone can effectively manage events and export HD video quickly.</div>
					<div class="banner-home-sub-des">IntelliSight supports all standard PCs and find cameras and NVRs on the network automatically. The setup wizard will guide every step, which enables the system will operate normally within a few minutes.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="intelli-sight-feature-warp">
		<div class="container">
			<article class="intelli-sight-feather row">
				<section class="col-md-6 col-xs-12 col-sm-6">
					<img class="img-responsive intelli-sight-show" src="/images/product/intelli-sight/intelli-sight-banner.png" />
				</section>
				<section class="col-md-6 col-xs-12 col-sm-6">
					<h3>Features</h3>
					<ul class="intelli-sight-features">
						<li class="intelli-sight-features-item">Application in local area network and wide area network support up to 64 channel live view</li>
						<li class="intelli-sight-features-item">E-map function</li>
						<li class="intelli-sight-features-item">Remote configuration for ANVIZ devices</li>
						<li class="intelli-sight-features-item">User permission management</li>
						<li class="intelli-sight-features-item">Manages alarms and Logs</li>
					</ul>
				</section>
			</article>
		</div>
	</div>
	<div class="feature-nav-content intelli-feature-nav">
		<div class="container">
			<ul class="feature-nav feature-nav-scroll">
				<li class="feature-nav-item">
					<a class="nav-btn nav-btn-active" href="" data-ajax="true" data-ajax-target="#SecurityEntries">Function</a>
				</li>
				<li class="feature-nav-item">
					<a class="nav-btn" href="" data-ajax="true" data-ajax-target="#SecurityEntries">Configuration</a>
				</li>
                        <li class="feature-nav-item">
                              <a class="nav-btn" href="" data-ajax="true" data-ajax-target="#SecurityEntries">Download</a>
                        </li>
				<li class="feature-nav-item">
					<a class="nav-btn" href="" data-ajax="true" data-ajax-target="#SecurityEntries">Compatible Devices</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="feature-content">
		<div id="SecurityEntries" class="animated fadeInRight">
			<div class="feature-content-item function-bg">
                        <div class="container">
                              <h2>Function</h2>
                              <img class="img-responsive" src="/images/product/intelli-sight/intelli-sight-banner-bg.jpg"/>
                        </div>
                        <div class="function-mask-bg">
                              <div class="container">
                                    <ul class="function-infomation row">
                                          <li class="function-infomation-item col-md-6 col-xs-12 col-sm-6">
                                                <p>Profile</p>
                                                <p>The display channels are defined by users.</p>
                                          </li>
                                          <li class="function-infomation-item col-md-6 col-xs-12 col-sm-6">
                                                <p>Live Channel</p>
                                                <p>1、4、6、9、10、16、25、36、64 Grille</p>
                                          </li>
                                          <li class="function-infomation-item col-md-6 col-xs-12 col-sm-6">
                                                <p>Device List</p>
                                                <p>Display all current channels and devices in the system.</p>
                                          </li>
                                          <li class="function-infomation-item col-md-6 col-xs-12 col-sm-6">
                                                <p>Emap Window</p>
                                                <p>Display all cameras in the currently selected layout; display by grid forms or icon / window embedded in the electronic map.</p>
                                          </li>
                                          <li class="function-infomation-item col-md-6 col-xs-12 col-sm-6">
                                                <p>Menu</p>
                                                <p>Function buttons, such as video preview, video playback</p>
                                          </li>
                                          <li class="function-infomation-item col-md-6 col-xs-12 col-sm-6">
                                                <p>Window Controller</p>
                                                <p>Lock、Maximize、Background、Exit</p>
                                          </li>
                                    </ul>
                              </div>
                        </div>
                  </div>
                  <ul class="function-img row">
                        <div class="container">
                              <li class="function-img-item col-md-4 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/intelli-sight/intelli-sight-live.jpg" alt="" />
                                    <p>Live</p>
                              </li>
                              <li class="function-img-item col-md-4 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/intelli-sight/intelli-sight-playback.jpg" alt="" />
                                    <p>Playback</p>
                              </li>
                              <li class="function-img-item col-md-4 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/intelli-sight/intelli-sight-alarm.jpg" alt="" />
                                    <p>Alarm</p>
                              </li>
                              <li class="function-img-item col-md-4 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/intelli-sight/intelli-sight-emap.jpg" alt="" />
                                    <p>Emap</p>
                              </li>
                              <li class="function-img-item col-md-4 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/intelli-sight/intelli-sight-device.jpg" alt="" />
                                    <p>Device</p>
                              </li>
                              <li class="function-img-item col-md-4 col-xs-12 col-sm-6">
                                    <img class="img-responsive" src="/images/product/intelli-sight/intelli-sight-log.jpg" alt="" />
                                    <p>Log</p>
                              </li>
                        </div>
                  </ul>
		</div>
	</div>
      <div class="feature-content-item configuration-bg">
            <div class="container">
                  <h2>Configuration</h2>
                  <img class="img-responsive" src="/images/product/intelli-sight/intelli-sight-application.jpg"/>
            </div>
      </div>
      <div class="feature-content-item download-bg">
            <div class="container">
                  <h2>Download</h2>
                  <div class="intelli-sight-download row">
                        <div class="download-item col-md-6 col-xs-12 col-sm-6">
                              <div class="download-item-title">PC Client</div>
                              <p>ANVIZ surveillance maintenance and management client provides you a customized layout of preview, easy installation and configuration, multi-terminal synchronization of intelligent alarm, and a more humanized daily security.</p>
                              <div class="download-item-content">
                                    <a href="#">
                                          <div class="intelli-sight-download-left">
                                                <p class="intelli-sight-download-name">Intellisight 1.2.02 64bit 64ch Beta</p>
                                                <p class="intelli-sight-download-des">07/14/2017 - 42.6 MB</p>
                                          </div>
                                          <div class="intelli-sight-download-right">
                                                <span class="icon-download"></span>
                                          </div>
                                    </a>
                              </div>
                              <div class="download-item-content">
                                    <a href="#">
                                          <div class="intelli-sight-download-left">
                                                <p class="intelli-sight-download-name">Intellisight 1.2.02 64bit 64ch Beta</p>
                                                <p class="intelli-sight-download-des">07/14/2017 - 42.6 MB</p>
                                          </div>
                                          <div class="intelli-sight-download-right">
                                                <span class="icon-download"></span>
                                          </div>
                                    </a>
                              </div>
                              <div class="download-item-content">
                                    <a href="#">
                                          <div class="intelli-sight-download-left">
                                                <p class="intelli-sight-download-name">Intellisight 1.2.02 64bit 64ch Beta</p>
                                                <p class="intelli-sight-download-des">07/14/2017 - 42.6 MB</p>
                                          </div>
                                          <div class="intelli-sight-download-right">
                                                <span class="icon-download"></span>
                                          </div>
                                    </a>
                              </div>
                        </div>
                        <div class="download-item-qr col-md-6 col-xs-12 col-sm-6">
                              <div class="download-item-title">Mobile Client</div>
                              <p>Mobile app gives you quick and easy access to local and remote viewing of real-time video streaming, high security user management, flexible sharing of profile, optimized installation and configuration, easy to use.</p>
                              <div class="download-item-QR-code">
                                    <span><span class="icon-anzhuo_line"></span>Android</span>
                                    <span><span class="icon-apple_line"></span>iOS</span>
                                    <img class="img-responsive" src="/images/product/intelli-sight/intelli-sight-app-br.svg"/>
                                    <p>Scan to download</p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="feature-content-item devices-bg">
            <div class="container">
                  <img class="img-responsive" src="/images/product/intelli-sight/banner-surveillance.png"/>
                  <div class="compatible-info">
                        <h2>Compatible Devices</h2>
                        <p>All anviz cameras & video recorder</p>
                        <a href="" class="anviz-btn anviz-btn-primary">Find product</a>
                  </div>
            </div>
      </div>
</div>



