{{> _msg}}
{{> _indexBanner}}
<div class="container">
  
    {{> _indexSwiper}}
    <ul class="product-list-warp row">
        <li class="col-md-4 col-xs-12 col-sm-12">
            <div class="product-list">
                <a href="">
                    <img class="" src="/images/index/banner-biometric2.png"
                        alt=""/>
                    <h4 class="product-title">Biometric</h4>
                    <p class="product-des">We know biometric, and we know you.</p>
                </a>
                <a class="product-link" href="">Learn More</a>
            </div>
        </li>
        <li class="col-md-4 col-xs-12 col-sm-12">
            <div class="product-list">
                <a href="">
                    <img src="/images/index/banner-solution.jpg" alt=""/>
                    <h4 class="product-title">Solution</h4>
                    <p class="product-des">Security for a smarter, safer world.</p>
                </a>
                <a class="product-link" href="" data-ajax="true" data-ajax-target="#containerBody" data-ajax-progressing="top">Learn More</a>
            </div>
        </li>
        <li class="col-md-4 col-xs-12 col-sm-12">
            <div class="product-list">
                <a href="">
                    <img class=""
                        src="/images/index/banner-surveillance2.jpg" alt=""/>
                    <h4 class="product-title">Surveillance</h4>
                    <p class="product-des">See the world clear, do the action right.</p>
                </a>
                <a class="product-link" href="">Learn More</a>
            </div>
        </li>
    </ul>

</div>


