<div class="banner-top-login-bg"></div>
<div class="container">
    <div class="register-main">
        <div class="row register-title">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 ">
                <h1>Register to MyAnviz</h1>
                <p>Own your Anviz Portal to take advantage of software, firmware, newsletters and other personalized
                    Anviz services for great benefits. Required fields*</p>
            </div>
        </div>
        <div class="row register-warp">
            <h2>Account Information</h2>
            <form action="" class="form-verify" method="post" id="RegisterFormWin">
                <div class="register-left col-md-6 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input type="email" class="input-box form-control" name="email" placeholder="User Name / Email">
                    </div>
                    <div class="form-group">
                        <label for="password ">Password *</label>
                        <input type="password" class="input-box form-control" name="password" placeholder="Password ">
                    </div>
                    <div class="form-group">
                        <label for="password ">Confirm Password *</label>
                        <input type="password" class="input-box form-control" name="confirm_password"
                               placeholder="Confirm Password ">
                    </div>
                    <div class="form-group">
                        <label for="password ">First Name</label>
                        <input type="password " class="input-box form-control" name="first_name" placeholder="first name ">
                    </div>
                    <div class="form-group">
                        <label for="password ">Last Name *</label>
                        <input type="password " class="input-box form-control" name="last_name" placeholder="last name ">
                    </div>
                </div>
                <div class="register-right col-md-6 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label for="password ">Country *</label>
                        <select class="js-example-basic-single js-country-type anviz-select" name="country_id">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password ">State *</label>
                        <select class="js-example-basic-single js-country-type anviz-select" name="state_id">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password ">City *</label>
                        <select class="js-example-basic-single js-city-type anviz-select" name="city_id">

                        </select>
                    </div>
                    <div class="form-group">
                        <a href="#" class="forgot"><input type="checkbox" class="registation-checkbox">Registration Agreement</a>
                        <p class="register-info">Hereby suggest that I agree to join in Anviz market-related research, service and other similar actions...</p>
                        <p class="register-info">(After registering, you give Anviz permission to contact you with regarding changes in the related services.)</p>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <a href="/admin/login" data-ajax="true"
                           data-ajax-target="#containerBody" class="forgot">I have account, login now!</a>
                    </div>
                    <div class="form-group input-wrapper">
                        <input class="anviz-btn-primary RegSubmit" type="submit" value="Register Now">
                        <input type="hidden" name="type" value="" class="type">
                    </div>
                </div>
                <div style="clear:both;"></div>
            </form>
        </div>
    </div>
</div>